<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div style = "margin-top: 20px;" class="ui container">
    
    <div class="ui center aligned header"> 
        <h1 class="ui blue header"> Welcome to Todo App </h1>
    </div>

    <form class = "ui form" action = "/auth" method="POST">
        <div class = "field">
            <label class="ui huge header" for="email">Email:</label>
            <input type="text" name="email" placeholder="Enter your email...">
            <div style="margin-top: -5px" class="ui hidden divider"></div>
            <label class="ui huge header" for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your password...">
        </div>
        <div>
            <button class="ui primary button" name="action" value="login">Log In</button>
            <button class="ui button" name="action" value="signup">Sign Up</button>
        </div>

    </form>

    </div>
</body>
</html>